<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>860855372021-brebqrao5hpc5evbnd3b08gj2hd6esii.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.860855372021-brebqrao5hpc5evbnd3b08gj2hd6esii</string>
	<key>API_KEY</key>
	<string>AIzaSyAHUScVJV7o3_kVw6TogEgqfS67RxVRzwc</string>
	<key>GCM_SENDER_ID</key>
	<string>860855372021</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jaji.StepJob</string>
	<key>PROJECT_ID</key>
	<string>stepjob-48540</string>
	<key>STORAGE_BUCKET</key>
	<string>stepjob-48540.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:860855372021:ios:5fbd8ffa72eea13ff39dbc</string>
	<key>DATABASE_URL</key>
	<string>https://stepjob-48540.firebaseio.com</string>
</dict>
</plist>
